.select {
  position: relative;
  label {
    display: block;
    font-weight: 400;
    @include ms-respond(font-size, -1);
    color: map-get($map: $colors, $key: primary3);
  }

  select {
    position: relative;
    margin-top: 8px;
    padding: 15px 30px 15px 15px;

    font-family: 'Inter';
    font-size: 14px;

    border: 1px solid $sassy-disabled-color;
    border-radius: 6px;
    height: auto;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &[data-error]:before {
    content: attr(data-error);
    bottom: -14px;
    position: absolute;
    width: 100%;
    text-align: right;
    padding: 13px 13px 0;
    line-height: 22px;
    font-size: 12px;
    font-family: 'Inter';
    color: #fff;
    background-color: map-get($map: $colors, $key: error);
    border-radius: 0 0 6px 6px;
    font-weight: 300;
  }

  &:after {
    top: 45px;
  }
}
