.card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 2rem;

  .avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem;

    img {
      max-width: 100%;
    }
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
}
