.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  .logo {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    z-index: 1;

    a {
      color: #fff;
    }
  }
}
