.hero-module {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .hero-image {
    position: absolute;
    top: -5%;
    right: -5%;
    height: 110%;

    @include media-breakpoint-down(lg) {
      width: 90%;
      height: auto;
      top: 15%;
      right: inherit;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
