@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "../styles/variables";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/buttons";

@import "~nprogress/nprogress";

@import "../components/Hero/styles";
@import "../components/Layout/styles";
@import "../components/Card/styles";
@import "../components/Filters/styles";

.full-height {
  height: 100vh;
}

body {
  background-color: #202020;
  color: #fff;
}

.page {
  padding-top: 70px;
}

.detail-card {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 8px;
  img {
    border-radius: 4px;
  }
}
