$spacer: 10px;

$colors: ();

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-row-columns: 6;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 540px,
  md: 880px,
  lg: 960px,
  xl: 1140px,
  xxl: 1240px,
);
